.env.development
.env.production
.venv/
__pycache__/

tempCodeRunnerFile.py
.vscode/

chroma/

# Files for local testing and experimentation
test.py
# This script contains environment variable for production
run_app_in_production.sh